/* titillium-web-regular - latin */
@font-face {
    font-family: 'titillium-web-regular';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/titillium-web/titillium-web-v7-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
        url('fonts/titillium-web/titillium-web-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/titillium-web/titillium-web-v7-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/titillium-web/titillium-web-v7-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/titillium-web/titillium-web-v7-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/titillium-web/titillium-web-v7-latin-regular.svg#TitilliumWeb') format('svg');
    /* Legacy iOS */
}

/* titillium-web-600 - latin */
@font-face {
    font-family: 'titillium-web-600';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/titillium-web/titillium-web-v7-latin-600.eot');
    /* IE9 Compat Modes */
    src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
        url('fonts/titillium-web/titillium-web-v7-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/titillium-web/titillium-web-v7-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/titillium-web/titillium-web-v7-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/titillium-web/titillium-web-v7-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/titillium-web/titillium-web-v7-latin-600.svg#TitilliumWeb') format('svg');
    /* Legacy iOS */
}

/* titillium-web-700 - latin */
@font-face {
    font-family: 'titillium-web-700';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/titillium-web/titillium-web-v7-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'),
        url('fonts/titillium-web/titillium-web-v7-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/titillium-web/titillium-web-v7-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/titillium-web/titillium-web-v7-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/titillium-web/titillium-web-v7-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/titillium-web/titillium-web-v7-latin-700.svg#TitilliumWeb') format('svg');
    /* Legacy iOS */
}


/* roboto-300 - latin */
@font-face {
    font-family: 'roboto-300';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/roboto/roboto-v18-latin-300.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
        url('fonts/roboto/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/roboto/roboto-v18-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/roboto/roboto-v18-latin-300.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'roboto-regular';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto/roboto-v18-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('fonts/roboto/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/roboto/roboto-v18-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'roboto-500';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/roboto/roboto-v18-latin-500.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('fonts/roboto/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/roboto/roboto-v18-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/roboto/roboto-v18-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/roboto/roboto-v18-latin-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}