/* DESENVOLVIDO POR:
    NATAN DE OLIVEIRA PEREIRA DA SILVA
AT:
    NATAN673@GMAIL.COM
BITBUCKET:
    https://bitbucket.org/nops674/profile/repositories?visibility=public */


body {
  font-family: "titillium-web-regular", "roboto-regular", Arial;
  background-color: #EFEFEF;
}

h1, h2, h3, h4, h5, h6, p, a{
	margin: 0;
  text-decoration: none;
}

a, a:visited, a:hover{
  color: #000;
}

.container{
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #fff;
}
.container .sectionPrincipalBackground{
  background-color: #837e7e;
  background-image: url('../img/backgroundRecarga.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .sectionPrincipal{
  position: relative;
  height: 424px;
  padding: 5%;
  color: #fff;
}
.container .sectionPrincipal .logoHapz{
  width: 103.7px;
  height: 33.2px;  
  margin-bottom: 30px;
}
.container .sectionPrincipal p.semSaldo {
  font-family: "titillium-web-600";
  font-size: 14px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container .sectionPrincipal h1{
  font-size: 36px;
  line-height: 37px; 
  width: 62%;
  margin-bottom: 110px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container .divFlutuante{
  float: left;
  width: 46.5%;
  text-align: center;
  cursor: pointer;
}

.container .divFlutuante.par{
  margin-right: 5%;
}

.container .btnContratar{
  border: 0px solid #ccc;
  background-color: #F2F2F2;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 114px;
  position: relative;
  cursor: pointer;
  width: 100%;
}
.container .btnContratar h4{
  font-weight: bold;
  color: #2E7CE6;
  font-size: 2.5em;
  margin-top: -35px;
}
.container .btnContratar p{
  font-size: 10px;
  color: #828282;
}
.container .btnContratar .lnkContratar{
  background-color: #F2994A;
  border-radius: 0px 0px 8px 8px;
  margin: 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  height: 34px;
  line-height: 34px;
  color: #55361A;
  font-size: 14px;
}
.container nav {
  clear: both;
  height: 44px;
  text-align: center;
  top: 0px;
	position: relative;
}

.container nav a{
  width: 49.8%;
  line-height: 44px;
  float: left;
  display: block;
  cursor: pointer;
  color: #f2f2f2;
  font-size: 14px;
  border-top: 1px solid rgba(242, 242, 242, 0.4);
}

.container nav a.active{
  font-family: "titillium-web-600";
  border-top: 3px solid #fff;
  line-height: 39px;
}

.container nav a.firstLink{
  border-right: 1px solid rgba(242, 242, 242, 0.4);
}

.container .sectionSVA{
	position: relative;
  padding: 32px 10px;
	min-height: 400px;
}
.container .sectionSVA .divFlutuanteSVA{
  float: left;
  width: 50%;
  height: 153px;
  text-align: left;
  margin-bottom: 30px;
}


.container .sectionSVA .backgroundSVA{
  height: 120px;
	width: 153px;
	border-radius: 5px;
  margin: 0 auto;
  position: relative;
}

.container .sectionSVA .backgroundSVA span.assine{
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: "roboto-regular";
  font-size: 10px;
	line-height: 13px;
  background-color: #2F80ED;
  color: #fff;
  padding: 4px 10px;
  border-radius: 2px;
  cursor: pointer;
}
.container .sectionSVA .backgroundSVA span.contratar{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  top: 20%;
  border-radius: 0px 0px 5px 5px;
}
.container .sectionSVA .backgroundSVA span p{
  position: absolute;
  bottom: 12px;
  left: 2%;
  font-family: "titillium-web-600";
  font-size: 16px;
	line-height: 16px;
  color: #fff;
  padding: 4px 10px;
  cursor: pointer;
  text-indent: 0px;
}

.container .sectionSVA .divFlutuanteSVA h6{
  font-family: "roboto-regular";
  font-size: 16px;
  text-indent: 16%;
  margin-top: 7px;
  margin-bottom: 9px;
}
.container .sectionSVA .divFlutuanteSVA p{
  font-family: "roboto-300";
  font-size: 13px;
  text-indent: 16%;
}




@media only screen and (min-width: 1200px) {
  .container{
    width: 30%;
  }
} 